In [1]:
import numpy as np
import pandas as pd

#w[0] = y[0]
#w[i+1] = w[i] + h/2. *( f(t[i],w[i]) + f(t[i]+h, w[i]+hf(t[i],w[i])) )

F = lambda t,y: t
Y = lambda t: ((t**2.)/2.)+1 # for error calc

t0 = 0.
v0 = w0 = y0 = Y(t0)
h = 0.1
n = int((1.-0.)/h) # points

rc = np.zeros((n+1,5)) # i,t,w,y,e
rc[0:] = [0,t0,y0,w0,abs(y0-w0)]

for i in range(1,n+1):
  ti = h*i

  # heuns method / explicit trapezoid
  wi = w0 + (h/2)*(F(t0,w0) + F(t0+h,w0+h*F(t0,w0)))
  yi = Y(ti)

  rc[i:] = [i,ti,yi,wi,abs(yi-wi)]

  t0 = ti
  w0 = wi


nCol = ['n','t','y,truth','heun','err,h'] # column names, surprise
nRow = [rc[:,0]] #labeled each row with its associated n value
# pd.set_option('display.colheader_justify','center') # liars
df = pd.DataFrame(data=rc,index=nRow,columns=nCol)
df.style